.bg-circle {
    position: relative;
    /* center using position  */
    top: 50%;
    left: 50%;
    /* center using transform */
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vh;
    border-radius: 50vw;
    border-style: solid;
    border-color:  #6c6c6ca2;
}


.bg-circle__first::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 180%;
    padding: 2em;
    width: 180%;
    border-radius: 50vw;
    border: solid 90px #13b22e3b;
}

.bg-circle__first::before {
    position: absolute;
    content: '';
    bottom: 10;
    right: 10;
    transform: translate(-50%, -50%);
    height: 40%;
    padding: 2em;
    width: 40%;
    border-radius: 50vw;
    border: solid 70px #484848a2;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home {
    position: absolute;
}

 .blob {
    
    background: url('../assets/blobanimation-2.svg') no-repeat center center fixed;
}