.ripple-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: rgb(185, 56, 56);
    border-radius: 50%;
  }
  
  .ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(0);
    animation: ripple-animation ease-in-out;
  }
  
  @keyframes ripple-animation {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }